@import 'base.css';
.product_title{
    padding: 2rem 0 2rem 0;
}

.product_title-text{
    font-size: var(--font-size-15);
    color: #000;
}

.product_title-text:hover{
    text-decoration: underline;
}

.product_filter{
    display: flex;
    justify-content: space-between;
}

.filter_box{
    display: flex;
    align-items: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    width: 6rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.filter_box-text{
    font-size: var(--font-size-15);
    color: rgba(0, 0, 0, 0.8);
}

.filter_box-filter{
    color: rgba(0, 0, 0, 0.8);
}

.filter_box-choose{
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    height: 3rem;
}

.filter_box-choose-text{
    font-size: var(--font-size-15);
    padding: 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_filter_styles{
    display: flex;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
}

.product_filter_styles-text{
    font-size: var(--font-size-15);
    color: #000;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.product_filter_styles-text:first-child{
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
}

.product_filter_styles-text:hover{
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
}

.product_title-name{
    padding: 2rem 0 1rem 0;
}

.product_title-name-text{
    font-size: var(--font-size-18);
    font-weight: 500;
}

.product-item{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.product_list_more{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_list_more-btn{
    width: 60rem;
    font-size: var(--font-size-15);
    color: var(--primary-color);
    border: 0.1rem solid var(--primary-color);
    padding: 0.8rem 1.5rem;
    text-align: center;
    border-radius: 1rem;
}

.product_list_more-btn:hover{
    background: var(--primary-color);
    color: #fff;
}